h1 {
    text-align: center;
  }
  
  /* 
    ID SELECTORS
  */
  
  /* 
    CLASS SELECTORS
  */
  .columns {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 10vh;
    row-gap: 30vh;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 10vh;
  }
  
  .mentee-questions {
    display: grid;
    row-gap: 2vh;
    width: 60vh;
  }
  
  .mentor-questions {
    display: grid;
    row-gap: 2vh;
    width: 40vh;
  }
  
  .selects {
    width: 50vh;
  }
  
  .submit-button-container {
    display: flex;
    justify-content: center;
  }
  
  .submit-question {
    width: 10vh;
    height: 4vh;
    color: white;
    font-size: 14px;
    background-color: #0078CC;
    border: #0078CC;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }