/* 
  ID SELECTORS
*/

/* 
  CLASS SELECTORS
*/
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.mentee-cards {
  width: 40vh;
  background-color: rgb(243, 243, 243);
  border: 3px solid rgb(243, 243, 243);
  border-radius: 3px;
  border-bottom-color: gold;
  padding: 15px;
}

.mentee-cards h2 {
  color: #002E5A;
  padding-bottom: 10px;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
}

.results-header {
  text-align: center;
  text-shadow: 1px 0 #707070;
  font-weight: bolder;
  color: #707070;
}